<div>
    <div>
        <div class="container-title-torg">
            <img class="img-title-torg" src="/assets/Group (3).png" alt="">
            <p class="text-title-torg">Открытый торг</p>
        </div>
        <h1 class="title-text2-torg">BMW 5 серии VII (G30/G31) Рестайлинг</h1>
    </div>
    <div class="container-lot-info">
        <div class="img-lot-content">
            <div>
            <img style="cursor: pointer;" class="img-lot-glav" src="/assets/Mask Group (6).png" alt="#" >
            <!-- routerLink="/SliderFotoComponent" -->
            </div>
            <div class="container-min-img-lot">
                <img class="min-img-lot" src="/assets/Mask Group (7).png" alt="#">
                <img  class="min-img-lot" src="/assets/Mask Group (8).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (9).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (10).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (11).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (12).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (13).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (14).png" alt="#">
                <img  class="min-img-lot" src="/assets/Mask Group (15).png" alt="#">
                <img class="min-img-lot" src="/assets/Mask Group (16).png" alt="#">
            </div>
            <div class="content-download">
                <div class="download-img">Скачать фото</div>
                <div class="border-download-file"><img src="/assets/google-docs 1 (1).png" alt="#" class="download-file">Скачать ДКП</div>
            </div>
        </div>
        <div class="container-info-lot">
            <div class="info-lot-content">
                <p class="info-text-title-lot">Лот 92-21331</p>
                <div class="active-container">
                    <div style="display: flex; flex-direction: row; align-items: center; margin-right: 20px;">
                        <p class="text-status">В избранном</p>
                        <img src="/assets/Group (5).png" alt="#">
                    </div>
                   <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="border-active"></div>
                    <p class="ativ-status">Активный</p>
                   </div>
                </div>
            </div>
            <div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Город:</p>
                    <p class="text-info-lot">Москва</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Год выпуска:</p>
                    <p class="text-info-lot">2017</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Привод:</p>
                    <p class="text-info-lot">Полный</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Кузов:</p>
                    <p class="text-info-lot">Седан</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Двигатель:</p>
                    <p class="text-info-lot">4.4 л / 407 л.с. / Бензин</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">VIN:</p>
                    <p class="text-info-lot">XXX XXX XXX XXX</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Коробка:</p>
                    <p class="text-info-lot">Автоматическая</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Начало торгов:</p>
                    <p class="text-info-lot">14.08.2021 / 12:00</p>
                </div>
                <div class="content-ifo-lot">
                    <p class="text-name-ifo-lot">Завершение торгов:</p>
                    <p class="text-info-lot">14.08.2021 / 12:00</p>
                </div>
            </div>
            <div class="content-ifo-lot-price">
                <div class="content-price">
                    <p class="text-price">Текущая ставка:</p>
                    <p class="price-lot">883 000 ₽</p>
                    <p class="text-price">Ваша ставка:</p>
                    <p class="price-lot">883 000 ₽</p>
                    <p class="text-price">Ваша автоставка:</p>
                    <p class="price-lot">1 000 000 ₽</p>
                </div>
                <div class="content-price-stavka">
                    <p class="name-price-stavka">До завершений торгов:</p>
                    <p class="price-stavka">00:38:40</p>
                    <p class="name-price-stavka">Шаг ставки:</p>
                    <p class="price-stavka">10 000 ₽</p>
                </div>
            </div>
            <div class="btn-content-lot">
                <input type="text" name="" id="" class="input-lot" placeholder="Ваша ставка ₽">
                <button class="btn-lot">Сделать ставку</button>
                <button class="btn-lot">Автоставка</button>
            </div>
        </div>
    </div>
    <div class="container-dop-ifo">
        <div>
            <h1 class="dop-ifo-title">Дополнительная информация</h1>
            <div class="border-dop-ifo"></div>
        </div>
        <div>
            <p class="text-dop-info">В отличном состоянии , на гарантии, обслуживалась только у официального дилера(вплоть до самых мелочей)
                Заправлял всегда только 100 бензин, замена масла каждые 5000 км(все заказ-наряды есть)
                Из вложений: шумоизоляция, диски м перфоманс(20 радиус) оригинальные на хорошей резине, карбоновые оригинальные элементы(зеркала, антикрыло, диффузор), керамика 4 слоя
                Суммарно вложено 700000р
                Зимние колёса - на оригинальных 19 дисках, на шипах</p>
        </div>
    </div>
    <div class="content-ifo-avto-lot">
        <div>
            <h1 class="dop-ifo-title">Информация по автомобилю</h1>
            <div class="border-dop-ifo"></div>
        </div>
        <div class="container-ifo-avto">
            <div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Тип ТС</p>
                    <p class="name-ifo-avto-lot">легковые авто</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Марка</p>
                    <p class="name-ifo-avto-lot">BMW</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Модель</p>
                    <p class="name-ifo-avto-lot">5 серии VII (G30/G31) 530i xDrive</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Регион</p>
                    <p class="name-ifo-avto-lot">Москва и Московская обл.</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Номер дела</p>
                    <p class="name-ifo-avto-lot">001AS21-000176</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Место осмотра</p>
                    <p class="name-ifo-avto-lot">Москва</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Страховая сумма</p>
                    <p class="name-ifo-avto-lot">0 ₽</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Тип кузова</p>
                    <p class="name-ifo-avto-lot">Кроссовер</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Цвет</p>
                    <p class="name-ifo-avto-lot">Темно-серый</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">VIN </p>
                    <p class="name-ifo-avto-lot">XWEPH81ABJ0015260</p>
                </div>
            </div>
            <div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Металик</p>
                    <p class="name-ifo-avto-lot">Нет</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Количество хозяев</p>
                    <p class="name-ifo-avto-lot">Нет данных</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Привод колес</p>
                    <p class="name-ifo-avto-lot">Нет данных</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Пробег</p>
                    <p class="name-ifo-avto-lot">0</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">ПТС</p>
                    <p class="name-ifo-avto-lot">Есть</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">КПП</p>
                    <p class="name-ifo-avto-lot">Автомат</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Год выпуска</p>
                    <p class="name-ifo-avto-lot">2018</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Тип двигателя</p>
                    <p class="name-ifo-avto-lot">Бензиновый</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Количество ключей</p>
                    <p class="name-ifo-avto-lot">Нет данных</p>
                </div>
                <div class="content-ifo-avto-text">
                    <p class="text-ifo-avto-lot">Руль</p>
                    <p class="name-ifo-avto-lot">Левый</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cntent-complet-lot">
        <div>
            <h1 class="dop-ifo-title">Комплектация</h1>
            <div class="border-dop-ifo"></div>
        </div>
        <div class="container-colplect">
            <div class="content-completct">
                <p>Диаметр дисков</p>
                <p>12</p>
            </div>
            <div class="content-completct">
                <p>Количество мест</p>
                <p>2</p>
            </div>
        </div>
    </div>
</div>
<app-slider-foto></app-slider-foto>