@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.menu-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-page-name {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #979393;
}
.title-menu {
  font-family: Bliss Pro;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  font-style: normal;
  color: #000000;
}
.conteiner-price {
  display: flex;
  flex-direction: row;
}
.info-price {
  font-family: Bliss Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  font-style: normal;
  color: #000000;
  margin: 0px;
  margin-top: 10px;
  padding-right: 20px;
}
.info-price-btn {
  border: none;
  background: #84bb6a;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 30px 10px 30px;
}
@media (max-width: 855px) {
  .menu-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .conteiner-price {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
}
@media (max-width: 545px) {
  .menu-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .conteiner-price {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
}
