@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
i {
  width: 3px;
  height: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.verdanaFont {
  background-color: red;
  width: 40px;
}
.down-check-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.down-check-content {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-width: 100px;
  background: #efefef;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.down-check-content:hover {
  background: none;

  .down {
    transform: rotate(-135deg);
  }
}
.down-check-name {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6b6b6b;
  margin: 0px;
  margin-bottom: 5px;
}
.down-check-text {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0px;
}
.container-list-menu-down {
  padding-left: 5px;
  width: 97%;
  margin-top: 40px;
  background: #efefef;
  border: 1px solid #c4c4c4;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0px;
  border-radius: 5px;
  position: absolute;
  margin-top: 43px;
  z-index: 12000;
}
.active {
  margin-top: 54px;
}
.invisible {
  display: none;
}
