<div class="container-sms">
<div>
    <p class="title-sms">Сообщения</p>
</div>
<div class="container-placeholder-sms">
    <div class="container-text-sms">
        <p class="text-name-sms">migtorg.com - Комиссия списана с вашего баланса</p>
        <div class="border-sms"></div>
        <div>
            <p class="text-sms">Комиссия 14400.00 руб. за получение лота списана с вашего баланса.</p>
        </div>
    </div>
    <div class="container-menu-sms">
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
        <button class="content-btn-sms" (click)="nev()">
            <p class="text-btn-sms" [ngClass]="{nevInvisible: visibility}">migtorg.com - Комиссия списана с вашего баланса</p>
            <p class="data-btn-sms">19.02.2021 15:27</p>
        </button>
    </div>
</div>
</div>