@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container-sms {
  max-width: 1200px;
  border-radius: 0px 10px 10px 0px;
}
.container-placeholder-sms {
  display: flex;
  flex-direction: row;
}
.title-sms {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 25px;
}
.container-text-sms {
  max-width: 951px;
  background: #ffffff;
  border-radius: 10px 0px 0px 10px;
  padding: 35px 350px 35px 45px;
}
.text-name-sms {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.border-sms {
  width: 19px;
  height: 5px;
  background: #ff3b33;
}
.text-sms {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #190706;
}
.container-menu-sms {
  max-width: 253px;
  background: #fafafa;
  border-radius: 10px 0px 0px 10px;
  padding-top: 30px;
  padding-bottom: 74px;
  overflow-y: scroll;
  height: 30vmax;
}
.container-menu-sms::-webkit-scrollbar {
  width: 7px;
  background: #e5e5e5;
  border-radius: 1000px;
}
.container-menu-sms::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 10px;
  background-color: #c4c4c4;
}
.data-btn-sms {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-align: left;
  color: #979393;
}

.content-btn-sms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 20px;
  color: #000000;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
.content-btn-sms:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #84ba6c;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: left;
}
.nevInvisible {
  position: relative;
}
.nevInvisible::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 6px;
  height: 6px;
  background: #ff3b33;
  border-radius: 1000px;
  z-index: 10;
}
@media (max-width: 990px) {
  .container-text-sms {
    max-width: 951px;
    background: #ffffff;
    border-radius: 10px 0px 0px 10px;
    padding: 35px 50px 35px 45px;
  }
}
@media (max-width: 630px) {
  .container-text-sms {
    max-width: 951px;
    background: #ffffff;
    border-radius: 10px 0px 0px 10px;
    padding: 35px 50px 35px 45px;
  }
  .container-placeholder-sms {
    display: flex;
    flex-direction: column;
  }
  .container-menu-sms {
    max-width: 100%;
    background: #fafafa;
    border-radius: 10px 0px 0px 10px;
    padding-top: 30px;
    padding-bottom: 74px;
    overflow-y: scroll;
    height: 30vmax;
  }
}
