<div class="container-page-contact">
    <div>
      <app-header ></app-header>
    </div>
  <div class="content-page-contact">
      <app-title></app-title>
        <div class="menu-content-page-contact">
          <div class="container-menu">
            <app-menu [isActiveLot]="PageActiveLot"></app-menu>
          </div>
          <div  class="container-contact">
            <app-card-lot 
            [src]="srcImg"
            [numLot]="numLot" 
            [nameLot]="nameLot" 
            [data]="data" 
            [city]="city" 
            [ofLOt]="ofLOt"
            [lotActivOn]="lotActivOn"
            [lotActivOf]="lotActivOf"
            [price]="price"
            [endDate]="endDate"
            [box]="box"
            [engine]="engine"
            [run]="run"
            [lotActive]="lotActive"
            [bidStep]="bidStep"
            [timeLot]="timeLot"
            [moderationOn]="OnModeration"
            [moderationOf]="Ofmoderation"
            [exetOn]="exetOn"

            
            ></app-card-lot>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <app-footer></app-footer>
      </div>
    </div>