@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container-creating-lot {
  background: #ffffff;
  border-radius: 10px 0px 0px 10px;
  margin-right: 20px;
  padding-right: 95px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.creating-lot-title {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 10px;
}
.title-lot-info {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 10px;
}
.border-title {
  width: 19px;
  height: 5px;
  background: #ff3b33;
  margin-bottom: 35px;
}
.content-salon-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.container-btn-complete {
  margin-left: 150px;
  margin-right: 150px;
}
.btn-complete-log {
  border: 1px solid #6b6b6b;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6b6b6b;
  padding: 15px 15px;
  margin-left: 10px;
}
.content-btn-creating-lot {
  display: flex;
  flex-direction: column;
}
.btn-complete-log:hover {
  border: 1px solid #84bb6a;
  color: #000000;
  font-weight: 600;
}
.container-setting-creating-lot {
  max-width: 380px;
}
.setting-content-crating-lot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.right {
  margin-left: 15px;
}
.container-checkbox-complete {
  display: flex;
  flex-direction: row;
}
.check-bokc-creating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.setting-text-creating-lot {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6b6b6b;
}
.setting-input-creating-lot {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}
.position {
  position: relative;
}
.btn-i-input {
  border: none;
  background: none;
  position: absolute;
  right: 9px;
  top: 18px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn-i-input-up {
  border: none;
  background: none;
  position: absolute;
  right: 9px;
  top: 8px;
}
.up {
  transform: rotate(-135deg);
}
.setting-input-creating-lot::placeholder {
  padding-left: 135px;
  color: #000000;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.pading-placehol::placeholder {
  padding-right: 120px;
  padding-left: 0px;
}
.setting-input-creating-lot:hover {
  border: 1px solid #ff3b33;
  box-sizing: border-box;
  border-radius: 5px;
}
.setting-input-creating-lot:active {
  border: 1px solid #ff3b33;
  box-sizing: border-box;
  border-radius: 5px;
}
.title-border-tip {
  position: relative;
  border-top: 1px solid #c4c4c4;
}
.container-setting-complet-lot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 480px;
}
.width {
  width: 184px;
  height: 45px;
}
.display {
  right: 0px;
  left: 160px;
}
@media (max-width: 645px) {
  .container-creating-lot {
    padding-right: 10px;
    margin-left: 20px;
  }
  .content-btn-creating-lot {
    display: flex;
    flex-direction: column;
  }
  .btn-creating-lot {
    margin-right: 5px;
    margin-top: 10px;
  }
}
@media (max-width: 915px) {
  .container-creating-lot {
    max-width: 835px;
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    margin-right: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }
  .container-btn-complete {
    margin-left: 50px;
    margin-right: 0px;
  }
}
@media (max-width: 380px) {
  .container-checkbox-complete {
    display: flex;
    flex-direction: column;
  }
  .container-setting-complet-lot {
    flex-direction: column;
  }
  .setting-content-crating-lot {
    flex-direction: column;
  }
}
