<div class="container-creating-lot">
  <div>
    <div>
      <h1 class="title-lot-info">Комплектация</h1>
      <div class="border-title"></div>
      <div class="title-border-tip"></div>
    </div>
    <div>
      <h1 class="title-lot-info">Интерьер BMW M5</h1>
      <div class="border-title"></div>
    </div>
    <div class="content-btn-creating-lot">
      <div class="content-salon-btn">
        <div>
          <p class="setting-text-creating-lot">Обивка салона</p>
        </div>
        <div class="container-btn-complete">
          <button class="btn-complete-log">Велюр</button>
          <button class="btn-complete-log">Кожа</button>
          <button class="btn-complete-log">Комбинированный</button>
          <button class="btn-complete-log">Ткань</button>
        </div>
      </div>
      <div class="content-salon-btn">
        <div>
          <p class="setting-text-creating-lot">Цвет салона</p>
        </div>
        <div class="container-btn-complete">
          <button class="btn-complete-log">Светлый</button>
          <button class="btn-complete-log">Темный</button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h1 class="title-lot-info">Экстерьер</h1>
        <div class="border-title"></div>
      </div>
      <div class="container-setting-creating-lot">
        <div class="container-checkbox-complete">
          <div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Адаптивные фары</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Ксеноновые фары</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">
                Легкопластиковые диски
              </p>
            </div>
          </div>
          <div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Люк на крыше</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Тонировка стекла</p>
            </div>
          </div>
        </div>
        <div class="setting-content-crating-lot position">
          <p class="setting-text-creating-lot">Диаметр дисков</p>
          <input
            class="setting-input-creating-lot pading-placehol"
            type="text"
            name=""
            id=""
            placeholder="18"
          />
          <button class="btn-i-input"><i class="arrow down"></i></button>
          <button class="btn-i-input-up"><i class="arrow up"></i></button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h1 class="title-lot-info">Сигнализация</h1>
        <div class="border-title"></div>
      </div>
      <div class="container-setting-creating-lot">
        <div class="check-bokc-creating">
          <app-checkbox></app-checkbox>
          <p class="setting-text-creating-lot right">
            Дистанционный запуск двигателя
          </p>
        </div>
        <div class="check-bokc-creating">
          <app-checkbox></app-checkbox>
          <p class="setting-text-creating-lot right">Обратная связь</p>
        </div>
        <div class="check-bokc-creating">
          <app-checkbox></app-checkbox>
          <p class="setting-text-creating-lot right">Иммобилайзер</p>
        </div>
        <div class="check-bokc-creating">
          <app-checkbox></app-checkbox>
          <p class="setting-text-creating-lot right">Штатная</p>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Функциональное оборудование</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-complet-lot">
          <div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Бортовой компьютер</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Датчик дождя</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Круиз-контроль</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Обогрев зеркал</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Пневмоподвеска</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Центральный замок</p>
            </div>
          </div>
          <div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">
                Газобалонное оборудование
              </p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Датчик света</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">
                Навигационная система
              </p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Омыватель фар</p>
            </div>
            <div class="check-bokc-creating">
              <app-checkbox></app-checkbox>
              <p class="setting-text-creating-lot right">Уселитель руля</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Комфорт</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Подогрев руля</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Обогрев сиденийя</p>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Количество мест</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="setting-content-crating-lot position">
            <input
              class="setting-input-creating-lot pading-placehol width"
              type="text"
              name=""
              id=""
              placeholder="18"
            />
            <button class="btn-i-input display">
              <i class="arrow down"></i>
            </button>
            <button class="btn-i-input-up display">
              <i class="arrow up"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Климат</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="setting-content-crating-lot position">
            <input
              class="setting-input-creating-lot pading-placehol width"
              type="text"
              name=""
              id=""
              placeholder="Кондиционер 3-х зонный"
            />
            <button class="btn-i-input display">
              <i class="arrow down"></i>
            </button>
            <button class="btn-i-input-up display">
              <i class="arrow up"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Регулировки</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="setting-content-crating-lot position">
            <p class="setting-text-creating-lot">Стеклоподъемники</p>
            <input
              class="setting-input-creating-lot pading-placehol"
              type="text"
              name=""
              id=""
              placeholder="Электро все"
            />
            <button class="btn-i-input"><i class="arrow down"></i></button>
            <button class="btn-i-input-up"><i class="arrow up"></i></button>
          </div>
          <div class="setting-content-crating-lot position">
            <p class="setting-text-creating-lot">Сиденье водителя</p>
            <input
              class="setting-input-creating-lot pading-placehol"
              type="text"
              name=""
              id=""
              placeholder="Электро регулировка"
            />
            <button class="btn-i-input"><i class="arrow down"></i></button>
            <button class="btn-i-input-up"><i class="arrow up"></i></button>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Электропривод зеркал</p>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Безопасность</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="container-setting-complet-lot">
            <div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">
                  Антиблокировочная система ABS
                </p>
              </div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">Парктроник</p>
              </div>
            </div>
            <div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">
                  Антипробуксовочная система
                </p>
              </div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">
                  Система курсовой устойчивости
                </p>
              </div>
            </div>
          </div>
          <div class="setting-content-crating-lot position">
            <p class="setting-text-creating-lot">Подушки безопасности</p>
            <input
              class="setting-input-creating-lot pading-placehol"
              type="text"
              name=""
              id=""
              placeholder="Водителя и пассажира"
            />
            <button class="btn-i-input"><i class="arrow down"></i></button>
            <button class="btn-i-input-up"><i class="arrow up"></i></button>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1 class="title-lot-info">Мультимедиа</h1>
          <div class="border-title"></div>
        </div>
        <div class="container-setting-creating-lot">
          <div class="container-setting-complet-lot">
            <div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">Кассетник</p>
              </div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">TV</p>
              </div>
              <div class="check-bokc-creating">
                <app-checkbox></app-checkbox>
                <p class="setting-text-creating-lot right">CD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
