<div class="container-creating-lot">
  <h1 class="creating-lot-title">Создание лота</h1>
  <div>
    <div>
      <h1 class="title-lot-info">Фотография</h1>
      <div class="border-title"></div>
      <div class="title-border-tip"></div>
    </div>
    <div>
      <h1 class="title-lot-info">Выберите повреждения BMW M5</h1>
      <div class="border-title"></div>
    </div>
    <div>
      <p class="text-photo">Добавьте фотографии для "автомобиля"</p>
    </div>
    <div>
      <div>
        <div class="content-photo-list">
          <img
            class="container-img-photo"
            src="/assets/Mask Group (4).png"
            alt="#"
          />
          <img
            class="container-img-photo"
            src="/assets/Mask Group (5).png"
            alt="#"
          />
          <div class="content-add-photo">
            <img src="/assets/camera 1.png" alt="#" />
            <p>Добавить фото</p>
          </div>
        </div>
        <div class="add-document-content">
          <p class="text-photo">Загрузите страховой документ</p>
          <div class="border-add-photo-doc">
            <img src="/assets/google-docs 1.png" alt="#" />
            <p style="margin: 0px">Прикрепить документ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
