<div>
    <div class="title-container-about">
        <div>
        <h1 class="title-about">Аукцион битых автомобилей</h1>
            <p class="name-about">Битые автомобили от страховых компаний без посредников</p>
        </div>
        <div>
            <img src="/assets/Frame (6).png" alt="">
        </div>
    </div>
    <div class="content-about" >
        <p class="text-about" style="max-width: 790px;">Уважаемые дамы и господа! Оператор интернет платформы migtorg.com компания ООО «Лион Медиа» рада приветствовать вас на страницах своего сайта! Основной задачей компании «Лион Медиа» является обеспечение проведения открытых котировок битых автомобилей. Компания-оператор «Лион Медиа» не занимается куплей-продажей автомобилей, она является лишь организатором котировок.</p>
        <div class="content-text-about">
            <div class="content-img-text-about">
                <img class="img-about" src="/assets/Frame (7).png" alt="">
                <p class="img-text-about">Лоты на интернет-платформе migtorg.com размещают страховые компании. Благодаря работе нашей компании, у потенциальных покупателей появляется реальная возможность приобретения битых автомобилей напрямую от страховых компаний без участия каких-либо посредников. Виртуальная торговая площадка migtorg.com не является владельцем лотов, выставленных на ней.</p>
            </div>
            <div class="content-img-text-about">
                <img class="img-about" src="/assets/Frame (8).png" alt="">
                <p class="img-text-about">Компания «Лион Медиа» обладает всеми необходимыми программными средствами для должного функционирования Интернет платформы migtorg.com. В нашей компании работают опытные специалисты в области реализации битых автомобилей.</p>
            </div>
            <div class="content-img-text-about">
                <img class="img-about" src="/assets/Frame (9).png" alt="">
                <p class="img-text-about">Общество с ограниченной ответственностью «Лион Медиа» представляет собой яркий пример динамично развивающейся успешной компании, гарантирующей клиентам удобную и максимально эффективную работу на виртуальной торговой площадке.</p>
            </div>
        </div>
        
    </div>
    <div class="content-princip">
        <div>
        <p class="title-content-about">Принцип нашей работы</p>
            <div class="border-about"></div>
        </div>
        <p class="text-about">Мы не являемся посредниками, все автомобили, выставленные на аукцион, потенциальные покупатели приобретают непосредственно у страховых компаний или у собственника ТС (страхователя).</p>
        <p class="text-about">За время своей работы мы сумели наладить тесное сотрудничество с ведущими российскими страховыми и лизинговыми компаниями, что позволило нам сформировать успешный тандем, позволяющий совершать удачные во всех отношениях сделки.</p>
        <div class="list-container-about">
            <p class="nume-about">1</p>
            <p>Надежность и профессионализм</p>
        </div>
        <div class="list-container-about">
            <p class="nume-about">2</p>
            <p class="nume-text-about">Абсолютная прозрачность процесса электронных торгов</p>
        </div>
        <div class="list-container-about">
            <p class="nume-about">3</p>
            <p class="nume-text-about">Эффективная обратная связь</p>
        </div>
        <div class="list-container-about">
            <p class="nume-about">4</p>
            <p class="nume-text-about">Ориентированность на клиента</p>
        </div>
    </div>

    <div class="content-princip">
        <div>
            <p class="title-content-about">Мы предлагаем действительно выгодные условия сотрудничества, как для продавцов, так и для покупателей.</p>
            <div class="border-about"></div>
        </div>
        <div class="platform-content">
            <div class="platform-content-text">
                <img class="img-platform" src="/assets/Frame (10).png" alt="#">
                <p class="img-platform-text">Используя платформу migtorg.com может с минимальными затратами и за минимальное время найти покупателя на поврежденный автомобиль. Возможно размещать любое количество объявлений за минимальную абонентскую плату.</p>
            </div>
            <div class="platform-content-text">
                <img class="img-platform" src="/assets/Frame (11).png" alt="#">
                <p class="img-platform-text">Получают доступ к парку битых машин большинства страховых компаний России и возможность делать ставки с максимальным удобством, в том числе в автоматическом режиме.</p>
            </div>
        </div>
        <div class="container-piple">
            <div class="container-about-piple">
                <img class="img-about" src="/assets/Frame (12).png" alt="#">
                <p class="img-platform-text">Все участники системы - проверенные и добросовестные поставщики и потребители услуг. К участию в аукционе допускаются пользователи, прошедшие тщательную проверку нашей службой безопасности, что гарантирует качество и надежность любой сделки.</p>
            </div>
            <div class="container-about-piple">
                <img class="img-about" src="/assets/Frame (13).png" alt="#">
                <p class="img-platform-text">Оператор Интернет платформы migtorg.com компания ООО «Лион Медиа» - это компания, которая поможет продавцу и покупателю найти друг друга! Покупать и продавать битые автомобили на аукционе migtorg.com просто, выгодно и удобно!</p>
            </div>
        </div>
    </div>
    <div>
        <p class="text-footer-welkom">Мы благодарим вас за проявленный интерес к нашей компании и надеемся на дальнейшее сотрудничество!</p>
    </div>
</div>