<div class="border">
    <div>
        <div class="container-report-lot-title">
            <p class="text-report-name">SAJAE51S39YJ42183</p>
            <p class="text-report-name">24.07.2020</p>
        </div>
        <div>
            <p class="text-title-name">Jaguar X-Type</p>
        </div>
    </div>
    <div class="content-report-gov">
        <p class="name-text-report-info">Отчет полностью готов</p>
        <p class="text-report-name">Опрошено 30 источников. Найдено 22 записи</p>
    </div>
    <div class="container-info-data-report">
        <div class="data-content">
            <div class="margin">
                <p class="text-report-name">Год выпуска</p>
                <p class="name-text-report-info">2007</p>
            </div>
            <div class="margin">
                <p class="text-report-name">Двигатель</p>
                <p class="name-text-report-info">2,1 л / 155 л.с.</p>
            </div>
            <div class="margin">
                <p class="text-report-name">Цвет</p>
                <p class="name-text-report-info">Зеленый</p>
            </div>
        </div>
        <div>
            <p class="name-text-report-info">SAJAE51S39YJ42183</p>
        </div>
        <div>
            <button class="btn-report">Смотреть отчет</button>
            <button class="btn-report">Скачать отчет в PDF</button>
        </div>
    </div>
</div>