<div class="background">
    <div class="container-page-contact ">
      <div class="header-page">
        <app-header-log [routerAboutCompany]="routerAboutCompany" [routerVinCheck]="routerVinCheck" [routerNews]="routerNews"></app-header-log>
      </div>
      <div class="menu-info">
        <div class="box-container">
          <div>
            <img  class="img-title-box" src="/assets/162_T3JnQ29yYWwtVGVjaC0yOC1MUC0wNQ [преобразованный] 1.png" alt="">
          </div>
          <div class="container-title-btn-avto">
            <h1 class="title-btn-avto">Здесь покупают и продают любые автомобили</h1>
            <div class="container-btn">
              <button class="btn-avto">Продать авто</button>
              <button class="btn-avto">Купить авто</button>
            </div>
          </div>
        </div>
          <app-partner></app-partner>
      </div>
      <div>
      <app-partner-border></app-partner-border>
      </div>
     
    </div>
    <div class="container-footer">
      <app-footer></app-footer>
  </div>
  </div>
  