
<div>
    <div class="exit" [ngClass]="{invisible: visibility}" [ngClass]="{invisibles: visibilitys}" >
        <div class="exit-content">
            <div class="container-log">
                <img class="img-exit"  (click)='onExit()' src="/assets/Vector 99 (1).png" alt="#">
                <app-log-warning></app-log-warning>
            </div>
        </div>
    </div>
<div class="header-container">
    <div class="content-logo-header">
        <div>
            <img class="logo-img-header" style="cursor: pointer;" routerLink="/PartnerPage" src="assets/logo.png" alt="#">
        </div>
        <div class="conteiner-menu-header">
            <a  class="text-menu" routerLink="{{routerClosedLotPage}}" >Завершенные лоты</a>
            <a class="text-menu" routerLink="{{routerTransferLots}}" >Переданные лоты</a>
            <a class="text-menu" routerLink="{{routerSmsPage}}" >Сообщения</a>
            <a class="text-menu" routerLink="{{routerMyOffice}}" >Мой кабинет <i class="arrow down"></i></a>
            <!-- <a  class="text-menu" routerLink="/ClosedLotPage">Завершенные лоты</a>
            <a class="text-menu" routerLink="/Lot">Переданные лоты</a>
            <a class="text-menu" routerLink="/SmsPage">Сообщения</a>
            <a class="text-menu" routerLink="/Lot">Мой кабинет <i class="arrow down"></i></a> -->
        </div>
        <div class="content-btn-header">
            <!-- <button class="btn-header-logo">Вход</button>
            <button class="btn-header-logo">Регистрация</button> -->
            <button class="btn-header-logo" routerLink="/CreatingLot">Подать обявление</button>
        </div>
    </div>
    <div class="menu-header-content">
        <a class="text-menu-header" routerLink="{{routerCarAuctions}}">Автоаукционы</a>
        <a class="text-menu-header" (click)="onSave()" style="cursor: pointer;" routerLink="{{routerOtherAuctions}}">Иные аукционы</a>
        <a class="text-menu-header" routerLink="{{routerAnnouncements}}">Объявления</a>
        <a class="text-menu-header" routerLink="{{routerVinCheck}}">Проверка по VIN</a>
        <a class="text-menu-header" routerLink="{{routerNews}}" >Новости</a>
        <a class="text-menu-header" routerLink="{{routerSoldlots}}">Проданные лоты</a>
        <a class="text-menu-header" routerLink="{{routerAboutCompany}}">О компании</a>
        <a class="text-menu-header" routerLink="{{routerPartners}}">Партнеры</a>
        <!-- <a routerLink="/CarAuctionsPage" class="text-menu-header">Автоаукционы</a>
        <a class="text-menu-header"  >Иные аукционы <i class="arrow down"></i></a>
        <a class="text-menu-header" routerLink="/AnnouncementPage">Объявления</a>
        <a routerLink="/VinCheckPage" class="text-menu-header">Проверка по VIN</a>
        <a class="text-menu-header" routerLink="/NewsPage">Новости</a>
        <a class="text-menu-header">Проданные лоты</a>
        <a class="text-menu-header" routerLink="/AboutCompanyPage">О компании</a>
        <a routerLink="/PartnerPage" class="text-menu-header">Партнеры</a> -->
    </div>
</div>