<div class="header-container">
    <div class="content-logo-header">
        <div>
            <img src="assets/logo.png" alt="#">
        </div>
        <div class="conteiner-menu-header">
            <a  class="text-menu" routerLink="/Lot">Завершенные лоты</a>
            <a class="text-menu" routerLink="/Lot">Переданные лоты</a>
            <a class="text-menu" routerLink="/SmsPage">Сообщения</a>
            <a class="text-menu" routerLink="/Lot">Мой кабинет</a>
        </div>
        <div class="content-btn-header">
            <!-- <button class="btn-header-logo">Вход</button>
            <button class="btn-header-logo">Регистрация</button> -->
            <button class="btn-header-logo" routerLink="/CreatingLot">Подать обявление</button>
        </div>
    </div>
    <div class="menu-header-content">
        <a class="text-menu-header">Автоаукционы</a>
        <a class="text-menu-header">Иные аукционы</a>
        <a class="text-menu-header">Объявления</a>
        <a routerLink="/VinCheckPage" class="text-menu-header">Проверка по VIN</a>
        <a class="text-menu-header">Новости</a>
        <a class="text-menu-header">Проданные лоты</a>
        <a class="text-menu-header">О компании</a>
        <a class="text-menu-header">Партнеры</a>
    </div>
</div>