
<div>
    <div class="exit" [ngClass]="{invisible: visibility}" [ngClass]="{invisibles: visibilitys}" >
        <div class="exit-content">
            <div class="container-log">
                <img class="img-exit"  (click)='onExit()' src="/assets/Vector 99 (1).png" alt="#">
                <app-log-warning></app-log-warning>
            </div>
        </div>
    </div>
<div class="header-container">
    <div class="content-logo-header">
        <div>
            <img  class="logo-img-header" src="/assets/Asset 1.svg" style="cursor: pointer;" routerLink=""  alt="#">
        </div>
        <div class="conteiner-menu-header">
            <a class="text-menu" routerLink="/ClosedLotPage">Завершенные лоты</a>
            <a class="text-menu" routerLink="/Lot">Переданные лоты</a>
            <a class="text-menu" routerLink="/SmsPage">Сообщения</a>
            <app-menu-header  
            [router]="routerInfo"
            [name]="nameOfis" 
            [list]="list"
             [list1]="list1"
              [list2]="list2"
               [list3]="list3"
               [list4]="list4"
               [list5]="list5"
               [list6]="list6"
               [list7]="list7"
               [list8]="list8"
               [list9]="list9"
                ></app-menu-header>
        </div>
        <!-- routerLink="/Lot" -->
        <div class="content-btn-header">
            <button class="btn-header-logo" routerLink="/CreatingLot">Подать обявление</button>
        </div>
    </div>
    <div class="menu-header-content">
        <a routerLink="/CarAuctionsPage" class="text-menu-header">Автоаукционы</a>
        <a class="text-menu-header" style="cursor: pointer;" (click)="onSave()" >Иные аукционы <i class="arrow down"></i></a>
        <a class="text-menu-header" routerLink="/AnnouncementPage">Объявления</a>
        <a routerLink="/VinCheckPage" class="text-menu-header">Проверка по VIN</a>
        <a class="text-menu-header" routerLink="/NewsPage">Новости</a>
        <a class="text-menu-header">Проданные лоты</a>
        <a class="text-menu-header" routerLink="/AboutCompanyPage">О компании</a>
        <a routerLink="/PartnerImgPage" class="text-menu-header">Партнеры</a>
    </div>
</div>