@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.exit {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
}
.img-exit {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
  cursor: pointer;
}
i {
  margin-left: 5px;
  margin-bottom: 2px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.logo-img-header {
  width: 190px;
  height: 60px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.invisible {
  display: none;
}
.invisibles {
  display: none;
}
.container-log {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  width: 558px;
  height: 293px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(43, 43, 43, 0.16);
  border-radius: 4px;
  padding-top: 20px;
  padding-right: 20px;
}
.exit-content {
  padding-top: 400px;
  max-width: 560px;
  margin: 0 auto;
}
.header-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 15px;
}
.content-logo-header {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}
.conteiner-menu-header {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  padding-left: 20px;
  padding-top: 10px;
}
.text-menu {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #190706;
  margin-right: 60px;
  padding-bottom: 4px;
  text-decoration: none;
  cursor: pointer;
}
.content-btn-header {
  display: flex;
  flex-direction: row;
}
.btn-header-logo {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 30px 10px 30px;
  margin-left: 10px;
}
.btn-header-logo:hover {
  background: #84bb6a;
  border: 1px solid #6b6b6b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 15.5px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.menu-header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 40px;
}
.text-menu-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #190706;
  margin-right: 50px;
  padding-bottom: 4px;
  text-decoration: none;
}
.text-menu-header:hover {
  padding-bottom: 0px;
  border-bottom: 4px solid #ff3b33;
}
@media (max-width: 1052px) {
  .content-logo-header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
  }
  .menu-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .conteiner-menu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
  }
  .btn-header-logo {
    background: #ffffff;
    border: 1px solid #6b6b6b;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Bliss Pro;
    font-style: normal;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
  }
}
@media (max-width: 755px) {
  .menu-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 545px) {
  .menu-header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
  }
  .text-menu-header {
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #190706;
    margin-right: 10px;
    padding-bottom: 4px;
  }
}
