<div class="container-creating-lot">
  <div>
    <div>
      <h1 class="title-lot-info">Повреждения</h1>
      <div class="border-title"></div>
      <div class="title-border-tip"></div>
    </div>
    <div>
      <h1 class="title-lot-info">Выберите повреждения BMW M5</h1>
      <div class="border-title"></div>
    </div>
    <div class="content-damage-list">
      <div>
        <div><p class="text-damage">1. Выберите зону повреждения</p></div>
        <div class="damage-container">
          <div class="setting-content-crating-lot position">
            <input
              class="setting-input-creating-lot pading-placehol width"
              type="text"
              name=""
              id=""
              placeholder="Задняя часть кузова"
            />
            <button class="btn-i-input display">
              <i class="arrow down"></i>
            </button>
            <button class="btn-i-input-up display">
              <i class="arrow up"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div><p class="text-damage">2. Выберите зону повреждения</p></div>
        <div class="damage-container">
          <div class="setting-content-crating-lot position">
            <input
              class="setting-input-creating-lot pading-placehol width"
              type="text"
              name=""
              id=""
              placeholder="Не выбранно"
            />
            <button class="btn-i-input display">
              <i class="arrow down"></i>
            </button>
            <button class="btn-i-input-up display">
              <i class="arrow up"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div><p class="text-damage">3. Выберите зону повреждения</p></div>
        <div class="damage-container">
          <div class="setting-content-crating-lot position">
            <input
              class="setting-input-creating-lot pading-placehol width"
              type="text"
              name=""
              id=""
              placeholder="Задняя часть кузова - x"
            />
            <button class="btn-i-input display">
              <i class="arrow down"></i>
            </button>
            <button class="btn-i-input-up display">
              <i class="arrow up"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h1 class="title-lot-info">Подушки безопасности</h1>
      <div class="border-title"></div>
    </div>
    <div class="container-setting-creating-lot">
      <div class="container-checkbox-complete">
        <div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Задняя левая шторка</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Колено водителя</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Модуль SRS</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">
              Обшивка двери пассажира
            </p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Ремень пассажира</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Сиденье водителя</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Торпедо</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Шторка Пассажира</p>
          </div>
        </div>
        <div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Задняя правая шторка</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Колено пассажира</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">
              Обшивка двери водителя
            </p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Ремень водителя</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Руль</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Сиденье рассажира</p>
          </div>
          <div class="check-bokc-creating">
            <app-checkbox></app-checkbox>
            <p class="setting-text-creating-lot right">Шторка водителя</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
