<div class="content-contact">
    <h1 class="title-contact">Контактная информация</h1>
    <div class="border-title-contact"></div>
    <div>
        <div class="content-input">
            <input type="text" placeholder="Телефон" class="input-contact">
            <input type="text" placeholder="WhatsApp:" class="input-contact">
        </div>
        <div>
            <input type="text" placeholder="E-mail" class="input-contact">
            <input type="text" placeholder="Skype" class="input-contact">
        </div>
        <div>
            <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Moscow%2C%20Russia+(%2C%D0%B3.%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%D1%83%D0%BB.%D0%A1%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C%D0%B4%D0%BE%D0%BC%2025%2C%D1%81%D1%82%D1%80.)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/fr/">https://embedgooglemaps.com/fr/</a> & <a href="https://googlemapsgenerator.com">Google maps embed code</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
        </div>
    </div>
    <h1>Обратная связь</h1>
    <div>
        <input type="text" placeholder="Тема сообщения">
        <input type="text" placeholder="Сообщения">
        <button>Отправить</button>
    </div>
</div>