<div class="content-contact">
    <h1 class="title-contact">Контактная информация</h1>
    <div class="border-title-contact"></div>
    <div>
        <div class="content-input">
            <input type="text" placeholder="Телефон" class="input-contact">
            <input type="text" placeholder="WhatsApp:" class="input-contact">
        </div>
        <div class="content-input-two">
            <input type="text" placeholder="E-mail" class="input-contact">
            <input type="text" placeholder="Skype" class="input-contact">
        </div>
        <div>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="830" height="240" id="gmap_canvas" src="https://maps.google.com/maps?q=,%D0%B3.%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,%D1%83%D0%BB.%D0%A1%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F,%D0%B4%D0%BE%D0%BC%2025,%D1%81%D1%82%D1%80.%2016.%D0%91%D0%A6%22%D0%A1%D0%9C%D0%98%D0%A0%D0%9D%D0%9E%D0%92%D0%A1%D0%9A%D0%98%D0%99%22&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:240px;width:830px;}</style><a href="https://www.embedgooglemap.net">add a google map to website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:240px;width:830px;}</style></div></div>
        </div>
    </div>
    <h1 class="title-communication-contact">Обратная связь</h1>
    <div class="border-title-contact"></div>
    <div class="communication-contact">
        <input type="text" placeholder="Тема сообщения" class="communication-contact-input" >
        <input type="text" placeholder="Сообщения" class="communication-contact-input-two">
        <button class="communication-contact-btn">Отправить</button>
    </div>
</div>