<div class="content-contact">
    <h1 class="title-contact">Контактная информация</h1>
    <div class="border-title-contact"></div>
    <div>
        <div class="content-input">
            <input type="text" placeholder="Телефон +7 999 99 999" class="input-contact">
            <input type="text" placeholder="WhatsApp: +7 916 936 18 59" class="input-contact">
        </div>
        <div class="content-input-two">
            <input type="text" placeholder="E-mail a.bobrovskiy1989@gmail.com" class="input-contact">
            <input type="text" placeholder="Skype @skype" class="input-contact">
        </div>
        <div>
           <div >
            <iframe class="maps-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71893.74258256152!2d37.60813324296401!3d55.72932259495078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab54a5936a059%3A0x23380007fdaedb6d!2sBts%20Smirnovskiy!5e0!3m2!1sen!2snl!4v1625593685208!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
           </div> 
        </div>
    </div>
    <h1 class="title-communication-contact">Обратная связь</h1>
    <div class="border-title-contact"></div>
    <div class="communication-contact">
        <input type="text" placeholder="Тема сообщения" class="communication-contact-input" >
        <input type="text" placeholder="Сообщения" class="communication-contact-input-two">
        <button class="communication-contact-btn">Отправить</button>
    </div>
</div>