<div class="divChart">
  <div>
    <h1 class="title-sped">Пробег автомобиля</h1>
    <div class="content-warning-speed">
      <img class="img-warning" src="/assets/stroke.png" alt="#">
      <p class="warning-speed">Пробег мог быть скручен</p>
    </div>
  </div>
  <div class="chart-speed-content">
    <p class="chart-speed-name">График пробега</p>
    <div>
      <p class="week-sped">2020 год<i class="arrow down"></i></p>
    </div>
  </div>
  <div class="myChart">
    <canvas id="myChart"></canvas>
  </div>
</div>
