@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container-log {
  margin-top: 200px;
  margin-bottom: 400px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
  width: 549px;
  height: 495px;
}
.title-log {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.container-tel-eml {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
.tel-log-content {
  background: #fafafa;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #c4c4c4;
  padding: 15px 35px;
  margin: 0px;
  transition: 0.3s;
}
.tel-log-content:hover {
  background: none;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #c4c4c4;
  padding: 15px 35px;
  padding-bottom: 11px;
  margin: 0px;
  border-bottom: 3px solid #ff3b33;
  cursor: pointer;
  transition: 0.3s;
}
.container-log-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-log-input {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.text-log {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #979393;
  margin-right: 20px;
}
.content-password {
  position: relative;
}
.input-log {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  width: 343px;
  height: 59px;
}
.img-password {
  position: absolute;
  right: 10px;
  top: 15px;
}
.btn-log {
  margin-top: 40px;
  background: #ff3b33;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 16px 60px;
  color: #ffffff;
}
@media (max-width: 550px) {
  .container-log {
    margin-top: 200px;
    margin-bottom: 400px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 495px;
  }
  .input-log {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 243px;
    height: 59px;
  }
}
@media (max-width: 375px) {
  .input-log {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 193px;
    height: 59px;
  }
}
@media (max-width: 475px) {
  .input-log {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 193px;
    height: 59px;
  }
  .container-tel-eml {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
  }
  .content-log-input {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .container-log {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 0px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
  }
}
