<div class="content-card">
    <div><img src="/assets/Mask Group.png" alt="#" class="img-card"></div>
    <div class="card-info-avto-content">
        <p class="text-card-info-title">Лот 92-21331</p>
        <h1 class="text-card-info-title-two">BMW 5 серии VII (G30/G31)</h1>
       <div class="content-card-info">
        <div>
            <div class="card-display">
                <p class="text-card-info">Год выпуска:</p>
                <p class="text-card-info-two"> 2017</p>
            </div>
            <div class="card-display">
                <p class="text-card-info">Город:</p>
                <p class="text-card-info-two"> Москва</p>
            </div>
            <div class="card-display">
                <p class="text-card-info">Тип торгов:</p>
                <p class="card-text-lot-active" [ngClass]="currentClasses">{{nameActiv}}</p>
            </div>
            <div class="card-display">
                <p class="text-card-info">Текущая цена:</p>
                <p class="text-card-info-two"> 5 859 990₽</p>
            </div>
        </div>
        <div class="card-lot-info-avto-content">
            <div class="card-display">
                <img src="/assets/Mask Group (1).png" alt="">
                <p class="text-card-info-two">{{transmission}}</p>
            </div>
            <div class="card-display">
                <img src="/assets/Mask Group (2).png" alt="">
                <p class="text-card-info-two"> {{engine}}</p>
            </div>
            <div class="card-display">
                <img src="/assets/Mask Group (3).png" alt="">
                <p class="text-card-info-two">{{run}}</p>
            </div>
        </div>
       </div>
    </div>
    <div class="lot-card-price-content">
        <div class="card-display-component-favorite">
            <div class="container-status-lot">
                <div class="card-lot-status"></div>
                <p class="activ-text-lot-card">Проверяется модератором</p>
            </div>
        </div>
    </div>
</div>

