<div class="container-border">
    <div>
        <p class="title-border">Почему выбирают нас</p>
    </div>
    <div class="content-border">
        <div class="border-avto">
            <p class="name-border">Более 160 000 авто продано через наш сайт</p>
        </div>
        <div>
            <div class="border-strax">
                <p class="name-border">28 крупных страховых компаний работаю с нами</p>
            </div>
            <div class="display-border">
                <div class="border-wan">
                    <p class="name-border">29 минут среднее времяпокупки на сайте</p>
                </div>
                <div class="border-two">
                    <p>13 лет на рынкеаукционов</p>
                </div>
            </div>
        </div>
    </div>
</div>