@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.invisible {
  display: none;
}
.invisibles {
  display: none;
}
.youtybe {
  border-radius: 10px;
}
.container-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 180px;
}
.content-patner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-patner-border {
  display: flex;
  flex-direction: column;
  width: 1150px;
}
.title-partner {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;

  color: #494949;
}
.content-info-partner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}
.text-number-partner {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110.4%;
  color: #c7312e;
  margin: 0px;
}
.margin {
  margin-bottom: 100px;
  margin-right: 40px;
}
.list-text-partner {
  margin: 0px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110.4%;
  color: #020202;
  max-width: 245px;
}
.play-video {
  cursor: pointer;
  padding-top: 120px;
  padding-left: 80px;

  width: 400px;
  height: 400px;
  background-image: url("/assets/Group\ 588.png");
  background-size: 80%;
  background-repeat: no-repeat;
}
.img-partner-border {
  max-width: 100%;
}
@media (max-width: 1180px) {
  .content-patner-border {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 905px) {
  .content-patner-border {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content-patner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }
}
@media (max-width: 605px) {
  .top {
    margin-top: 40px;
  }
  .youtybe {
    border-radius: 10px;
    margin-top: 70px;
    max-width: 100%;
  }
  .play-video {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 0px;
    width: 100%;
    height: 400px;
    background-image: url("/assets/Group\ 588.png");
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .content-patner-border {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content-patner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }
  .content-info-partner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  .text-number-partner {
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 110.4%;
    color: #c7312e;
    margin: 0px;
  }
  .margin {
    margin-bottom: 100px;
    margin-right: 0px;
  }
  .play-video {
    cursor: pointer;
    margin-top: 50px;
    margin-right: 0px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 300px;
    background-image: url("/assets/Group\ 588.png");
    background-size: 80%;
    background-repeat: no-repeat;
  }
}
