<div class="container-border">
    <div class="content-patner-border">
        <p class="title-partner">Почему выбирают нас</p>
        <div class="content-patner">
           <div class="content-info-partner">
            <div>
                <div>
                    <p class="text-number-partner">29</p>
                    <p class="list-text-partner">минут среднее время покупки на сайте</p>
                </div>
                <div>
                    <p class="text-number-partner">13</p>
                    <p class="list-text-partner">лет на рынке аукционов</p>
                </div>
             </div>
             <div>
                <div>
                    <p class="text-number-partner">>160 000</p>
                    <p class="list-text-partner">авто продано через наш сайт</p>
                  </div>
                <div>
                  <p class="text-number-partner">28</p>
                  <p class="list-text-partner">крупных страховых компаний работаю с нами</p>
                </div>
             </div>
            </div>
           <div>
               <img class="img-partner-border" src="/assets/Group 588.png" alt="">
           </div>
        </div>
    </div>
</div>