<div class="background">
    <div class="container-page-contact ">
      <div class="header-page">
        <app-header-log></app-header-log>
      </div>
      <div class="menu-info">
             <div>
                 <p class="title-img-partner">Наши партнёры</p>
             </div>
             <div class="container-img-page-partner">
                 <div class="content-ing-partner-page">
                     <img src="/assets/Mask Group (40).png" alt="#">
                 </div>
                 <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (41).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (42).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (43).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (44).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (45).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (46).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (47).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (48).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (49).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (50).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (51).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (52).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (53).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (54).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (55).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (56).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (57).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (58).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (59).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (60).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (61).png" alt="#">
                </div>
                <div class="content-ing-partner-page">
                    <img src="/assets/Mask Group (62).png" alt="#">
                </div>
             </div>
      </div>
      
    </div>
    <div class="container-footer">
        <app-footer></app-footer>
    </div>
  </div>
  