@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.background {
}
.container-page-contact {
  background: #ffffff;
}
.container-page-contact {
  display: flex;
  flex-direction: column;
  max-width: 1940px;
  margin: 0 auto;
}

.container-page-contact::after {
  content: "";
  background-image: url("/assets/image 41.png");
  background-size: 50% 50% 50% 50%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.02;
  position: absolute;
  z-index: -1;
}

.container-footer {
  z-index: -100;
  width: 100%;
  margin-top: 0px;
  background: #e5e5e5;
}

.menu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.title-img-partner {
  margin-bottom: 60px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #494949;
}
.container-img-page-partner {
  max-width: 1180px;
  padding-left: 250px;
  padding-right: 40px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.content-ing-partner-page {
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 20px;
  padding: 60px 20px;
}
@media (max-width: 1220px) {
  .container-img-page-partner {
    max-width: 1180px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 445px) {
  .container-img-page-partner {
    max-width: 1180px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
