@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.content-list-down-header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 1000;
}
.down-check-text {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #190706;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 5px;
}

.list-text {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #190706;
  text-decoration: none;
  cursor: pointer;
}
.list-text:hover {
  color: #ff3b33;
}
.container-list-header {
  transition: 0.9s;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 20px;
  position: absolute;
  border: 1px solid #c4c4c4;
  background-color: #efefef;
  width: 99%;
  border-radius: 5px 5px 5px 5px;
  overflow-y: scroll;
  align-items: flex-start;
}
.overflow {
  min-height: 400px;
}
.container-list-header::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.container-list-header::-webkit-scrollbar-thumb {
  background-color: #223c50;
}
.container-down-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  padding-right: 10px;
}
i {
  margin-left: 5px;
  margin-bottom: 4px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.invisible {
  display: none;
}

.container-down-header:hover {
  .down {
    transform: rotate(-135deg);
  }
}
@media (max-width: 430px) {
  .container-down-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    padding-right: 10px;
  }
}
