<div class="content-list-down-header">
<div class="container-down-header" (click)="onMenu()">
    <p class="down-check-text">{{name}}</p>
    <i class="arrow down" ></i>
</div>
<div class="container-list-header" [ngClass]="{invisible: visibility}">
    <p class="list-text" routerLink="/Info">{{list}}</p>
    <p class="list-text"  routerLink="/MyOffice">{{list1}}</p>
    <p class="list-text" routerLink="/Lot">{{list2}}</p>
    <p class="list-text" routerLink="/Moderation">{{list3}}</p>
    <p class="list-text"routerLink="/SelectedLot">{{list4}}</p>
    <p class="list-text" routerLink="/CompletedLot">{{list5}}</p>
    <p class="list-text"routerLink="/MyAdsLot">{{list6}}</p>
    <p class="list-text" routerLink="/LotArchive">{{list7}}</p>
    <p class="list-text" routerLink="/MyTariff">{{list8}}</p>
    <p class="list-text"  routerLink="/PaymentHistory">{{list9}}</p>

</div>
</div>