<div class="menu-content">
    <div class="btn-container">
        <a class="btn-menu" routerLink="/Info">Настройки</a>
        <a  class="btn-menu" routerLink="/MyOffice">Связь с администрацией</a>
        <a  class="btn-menu" routerLink="/Lot">Мои лоты</a>
        <a  class="btn-menu" routerLink="/Moderation">Лоты на модерации</a>
        <a  class="btn-menu" routerLink="/SelectedLot">Избранные лоты</a>
        <a  class="btn-menu" routerLink="/CompletedLot">Мои завершенные лоты</a>
        <a  class="btn-menu" routerLink="/MyAdsLot">Мои объявления</a>
        <a  class="btn-menu" routerLink="/LotArchive">Архив лотов</a>
        <a  class="btn-menu" routerLink="/MyTariff">Мой тариф</a>
        <a  class="btn-menu" routerLink="/PaymentHistory">История оплат</a>
    </div>
    <div>
        <nav>
        </nav>
        <router-outlet></router-outlet>
      </div>
</div>