.container-card-auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #ececec;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(193, 196, 207, 0.25);
  border-radius: 10px;
  padding: 5px;
  padding-top: 0px;
  width: 295px;
  height: 370px;
  margin-top: 25px;
  margin-left: 10px;
}
.card-auction-name {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110.4%;
  text-align: center;
  color: #2b2b2b;
  max-width: 179px;
}
.content-card-auction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-auction-text {
  max-width: 126px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 102.4%;
  color: #979393;
}
.content-card-price {
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  height: 30px;
  background-image: url("/assets/Group 6.png");
  background-size: 100%;
  background-position: center;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110.4%;
  color: #ffffff;
  margin-left: 5px;
}
.container-card-auction:hover {
  background: #ffffff;
  background: linear-gradient(180deg, #ffcecd 0%, #ffffff 39.06%);
  border: 1px solid #ececec;
  box-sizing: border-box;
  box-shadow: 0px 10px 30px rgba(176, 184, 210, 0.5);
  border-radius: 10px;
  margin-top: 0px;
}
@media (max-width: 380px) {
  .content-card-auction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-card-auction {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-left: 10px;
  }
}
