@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.background::after {
  content: "";
  background-image: url("/assets/image 41.png");
  background-size: 50% 50% 50% 50%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.02;
  position: absolute;
  z-index: -1;
}
.container-content {
  display: flex;
  flex-direction: row;
}
.conteiner-sort {
  background: #f1f1f1;
  border-radius: 0px 0px 10px 0px;
  height: 1019px;
}
.container-page-contact {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
.title-lot-activ {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 0px;
  color: #000000;
}
.title-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.delet-title {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 183.9%;
  color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-title-delet {
  width: 12px;
  height: 13px;
  margin-left: 5px;
}
.content-page-contact {
  margin: 0 auto;
}
.menu-content-page-contact {
  display: flex;
  flex-direction: row;
}
.container-footer {
  width: 100%;
  margin-top: 40px;
  background: #e5e5e5;
}
.publication-page {
  width: 895px;
}
@media (max-width: 1185px) {
  .conteiner-sort {
    background: #f1f1f1;
    border-radius: 0px 0px 10px 0px;
    height: 100%;
  }
  .container-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  .menu-seting-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 855px) {
  .menu-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .conteiner-price {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
}
@media (max-width: 705px) {
  .menu-content-page-contact {
    display: flex;
    flex-direction: column;
  }
}
.menu-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-page-name {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #979393;
}
.container-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container-menu-creating {
  display: flex;
  flex-direction: column;
}

.menu-text-creating {
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 35px 35px 35px 35px;
  text-decoration: none;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: center;
  .list {
    width: 30px;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    margin: 0px;
    margin-right: 10px;
    background: #c4c4c4;
    border-radius: 100%;
    color: #ffffff;
  }
  .list-backgroud {
    background: #84ba6c;
  }
}
.backgroud {
  border: 1px solid #84bb6a;
  color: #84ba6c;
}
.menu-text-creating:active {
  background: #ffffff;
  border: 1px solid #84bb6a;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 35px 35px 35px 35px;
  text-decoration: none;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #84ba6c;
  .list:active {
    width: 30px;
    height: 28px;
    padding-top: 2px;
    text-align: center;
    margin: 0px;
    margin-right: 10px;
    background: #84ba6c;
    border-radius: 100%;
  }
}
@media (max-width: 1305px) {
  .publication-page {
    width: 100%;
  }
}
.border-div-creating {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #c4c4c4;
}
.next-creating-lot {
  background: none;
  border: 1px solid #84ba6c;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #84ba6c;
  padding: 10px 45px;
}
@media (max-width: 1045px) {
  .container-contact {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .menu-text-creating {
    margin-bottom: 10px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 35px 35px 35px 35px;
    text-decoration: none;
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #c4c4c4;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .title-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .title-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
}
