<div class="background">
    <div class="container-page-contact">
      <div>
        <app-header></app-header>
      </div>
      <div class="content-page-contact">
        <div class="title-page">
          <div>
            <p class="title-page-name">Главная / Каталог</p>
            <p class="title-lot-activ">Активные лоты</p>
          </div>
          <div>
            <p class="title-lot-activ">
              14:54:00
          </div>
        </div>
        <div class="container-content">
          <div class="check-menu">
            <app-down-check-menu></app-down-check-menu>
              <!-- <a href=""routerLink="/CompletedPublicationPage" > casss</a> -->
          </div>
          <div class="conteiner-sort">
            <app-sort-revers></app-sort-revers>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <app-footer></app-footer>
      </div>
    </div>
    
  </div>
  