  <div class="background">
    <div class="container-page-contact">
      <div>
        <app-header></app-header>
      </div>
      <div class="content-page-contact">
        <div class="title-page">
          <div>
            <p class="title-page-name">Главная /  Активные лоты / BMW 5 серии VII (G30/G31) Рестайлинг</p>
          </div>
        </div>
        <div>
            <app-lot></app-lot>
        </div>
      </div>
      <div class="container-footer">
        <app-footer></app-footer>
      </div>
    </div>
    
</div>
