<div class="check-menu-container">
    <div class="content-check-dow">
        <app-down-check [name]="currentName" [text]="currentText"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName1" [text]="currentText1"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName2" [text]="currentText2"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName3" [text]="currentText3"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName4" [text]="currentText4"></app-down-check>
    </div>
    <div class="content-data-check">
            <app-down-check [name]="currentName5" [text]="currentText5"></app-down-check>
            <p>-</p>
            <app-down-check [name]="currentName6" [text]="currentText6"></app-down-check>
    </div>
    <div class="content-check-dow">
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName8" [text]="currentText8"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName9" [text]="currentText9"></app-down-check>
    </div>
    <div>
        <button class="btn-menu-check">Применить</button>
    </div>
</div>
