<div class="check-menu-container">
    <div class="content-check-dow">
        <app-down-check [name]="currentName" [text]="currentText" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName1" [text]="currentText1" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName2" [text]="currentText2" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName3" [text]="currentText3" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName4" [text]="currentText4" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-data-check">
        <div>
            <app-down-check [name]="currentName5" [text]="currentText5" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
        </div>
            <p>-</p>
            <div class="pading">
                <app-down-check [name]="currentName6" [text]="currentText6" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
            </div>
    </div>
    <div class="content-check-dow">
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName8" [text]="currentText8" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div class="content-check-dow">
        <app-down-check [name]="currentName9" [text]="currentText9" [list]="currentList" [list1]="currentList1" [list2]="currentList2" [list3]="currentList3" [list4]="currentList4"></app-down-check>
    </div>
    <div>
        <button class="btn-menu-check">Применить</button>
    </div>
</div>
