@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-btn {
  display: flex;
  flex-direction: row;
}
.container-title-btn-avto {
  display: flex;
  flex-direction: column;
}
.title-btn-avto {
  max-width: 482px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 110.69%;
  color: #494949;
  text-align: center;
}
.btn-avto {
  margin-left: 25px;
  border: 1px solid #ff3b33;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 16px 55px;
  color: #ff3b33;
  background: none;
}
.btn-avto:hover {
  background: #ff3b33;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 55px;
}
.container-page-contact {
}
.container-page-contact {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

.container-page-contact::after {
  content: "";
  background-image: url("/assets/image 41.png");
  background-size: 50% 50% 50% 50%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.02;
  position: absolute;
  z-index: -1;
}

.container-footer {
  z-index: -100;
  width: 100%;
  background: #e5e5e5;
}

.menu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.img-title-box {
  max-width: 100%;
}
@media (max-width: 1195px) {
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 405px) {
  .container-btn {
    display: flex;
    flex-direction: column;
  }
}
