<div class="header-container">
    <div class="content-logo-header">
        <div>
            <img  class="logo-img-header" src="/assets/Asset 1.svg" style="cursor: pointer;" routerLink="" src="assets/logo.png" alt="#">
        </div>
        <div class="content-btn-header">
            <button routerLink="/LogPage" class="btn-header-logo">Вход</button>
            <button class="btn-header-logo">Регистрация</button>
            <button class="btn-header-logo" routerLink="{{routerCreatingLot}}" >Подать обявление</button>
        </div>
    </div>
    <div class="menu-header-content">
        <a routerLink="/CarAuctionsPage" class="text-menu-header">Автоаукционы</a>
        <a class="text-menu-header" >Иные аукционы <i class="arrow down"></i></a>
        <a class="text-menu-header" routerLink="/AnnouncementPage">Объявления</a>
        <a routerLink="/VinCheckPage" class="text-menu-header">Проверка по VIN</a>
        <a disabled class="text-menu-header" routerLink="/NewsPage">Новости</a>
        <a class="text-menu-header">Проданные лоты</a>
        <a class="text-menu-header" routerLink="/AboutCompanyPage">О компании</a>
        <a routerLink="/PartnerImgPage" class="text-menu-header">Партнеры</a>
    </div>
</div>