<div class="header-container">
    <div class="content-logo-header">
        <div>
            <img class="logo-img-header" style="cursor: pointer;" routerLink="/PartnerPage" src="assets/logo.png" alt="#">
        </div>
        <div class="content-btn-header">
            <button routerLink="/LogPage" class="btn-header-logo">Вход</button>
            <button class="btn-header-logo">Регистрация</button>
            <button class="btn-header-logo" routerLink="{{routerCreatingLot}}" >Подать обявление</button>
        </div>
    </div>
    <div class="menu-header-content">
        <a class="text-menu-header" routerLink="{{routerCarAuctions}}">Автоаукционы</a>
        <a class="text-menu-header" routerLink="{{routerOtherAuctions}}">Иные аукционы</a>
        <a class="text-menu-header" routerLink="{{routerAnnouncements}}">Объявления</a>
        <a class="text-menu-header" routerLink="{{routerVinCheck}}">Проверка по VIN</a>
        <a class="text-menu-header" routerLink="{{routerNews}}" >Новости</a>
        <a class="text-menu-header" routerLink="{{routerSoldlots}}">Проданные лоты</a>
        <a class="text-menu-header" routerLink="{{routerAboutCompany}}">О компании</a>
        <a class="text-menu-header" routerLink="{{routerPartners}}">Партнеры</a>
    </div>
</div>