@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.header-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 15px;
}
.logo-img-header {
  width: 190px;
  height: 60px;
}

.conteiner-menu-header {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  padding-left: 20px;
  padding-top: 10px;
}
.text-menu {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #190706;
  margin-right: 60px;
  padding-bottom: 4px;
  text-decoration: none;
  cursor: pointer;
}
.content-btn-header {
  display: flex;
  flex-direction: row;
}
.content-logo-header {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.btn-header-logo {
  height: 67px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 30px 10px 30px;
  margin-left: 10px;
}
.btn-header-logo:hover {
  background: #84bb6a;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #c4c4c4;
}
.menu-header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 40px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.text-menu-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #190706;
  margin-right: 50px;
  padding-bottom: 4px;
  text-decoration: none;
}
.verdanaFont:disabled {
  font-size: 13px;
  font-family: Verdana;
}
.navyColor {
  color: navy;
}
.text-menu-header:hover {
  padding-bottom: 0px;
  border-bottom: 4px solid #ff3b33;
}
@media (max-width: 1052px) {
  .logo-img-header {
    width: 190px;
    height: 60px;
    margin-left: 20px;
  }

  .menu-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .conteiner-menu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
  }
  .btn-header-logo {
    background: #ffffff;
    border: 1px solid #6b6b6b;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Bliss Pro;
    font-style: normal;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
  }
}
@media (max-width: 755px) {
  .menu-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .content-logo-header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
  }
}
@media (max-width: 545px) {
  .header-container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 15px;
    padding-right: 15px;
  }

  .menu-header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
  }
  .text-menu-header {
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #190706;
    margin-right: 10px;
    padding-bottom: 4px;
  }
  .btn-header-logo {
    background: #ffffff;
    border: 1px solid #6b6b6b;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Bliss Pro;
    font-style: normal;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
i {
  margin-left: 5px;
  margin-bottom: 2px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@media (min-width: 755px) {
  .burger {
    display: none;
  }
}
@media (max-width: 755px) {
  .btn-header-logo {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .content-btn-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 30px;
    top: 95px;
    width: 100%;
    height: 100%;
    background: rgba(192, 192, 192, 0.603);
    z-index: 1000;
    padding: 0px;
    margin: 0px;
  }
}
.invisible {
  display: none;
}
.burger-btn {
  width: 40px;
  height: 40px;
}

.invisibles {
}
