<div class="container-vin-page">
    <div>
        <h1 class="title-vin">Проверка истории автомобиля по VIN или госномеру</h1>
        <div class="border-vin"></div>
    </div>
    <div><p class="text-vin">Узнайте правду об автомобиле перед покупкой по госномеру или VIN.</p></div>
    <div class="container-iput-vin">
        <input type="text" class="input-vin">
        <button class="btn-vin-lup"><a class="text-pochuk" routerLink="/ReportsPage">Найти</a></button>
    </div>
    <div>
        <a class="text-vin hover" routerLink="/WatchVinPage">Где смотреть VIN</a>
        <a class="text-vin hover" href="">Мои отчеты</a>
        <a class="text-vin hover" href="">Пример отчета об автомобиле</a>
    </div>
</div>
