@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container {
  max-width: 1922px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 15px;
}
.container::after {
  content: "";
  background-image: url("/assets/image 41.png");
  background-size: 50% 50% 50% 50%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.02;
  position: absolute;
  z-index: -1;
}
.menu-seting-content {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.content-seting {
  width: 967px;
}
.container-menu {
  display: flex;
  flex-direction: row;
  background: #fafafa;
  border-radius: 10px 0px 0px 10px;
  height: 100%;
}
.container-select {
  max-width: 1206px;
}
.container-select::after {
  content: "";
  background-image: url("/assets/image 5.png");
  background-repeat: no-repeat;
  background-size: 60% 15%;
  background-position: 100% 72%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.08;
  position: absolute;
  z-index: -2;
}
.container-footer {
  margin-top: 40px;
  background: #e5e5e5;
}

@media (max-width: 470px) {
  .menu-seting-content {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0px;
  }
}
@media (max-width: 1350px) {
  .content-seting {
    width: 100%;
  }
  .container-menu {
    display: flex;
    flex-direction: column;
  }
}
