<div class="container-page-contact">
    <div>
      <app-header></app-header>
    </div>
  <div class="content-page-contact">
    <div>
        <p class="title-page-name">Главная/  Отчеты /  Jaguar X-Type</p>
        <p class="title-page">Отчеты</p>
    </div>
    <div class="menu-info">
        <div class="menu-content-page-contact">
          <div class="container-menu">
          </div>
          <div  class="container-contact">
              <app-report-lot></app-report-lot>
              <app-report-lot></app-report-lot>

          </div>
        </div>
      </div>
    </div>
    <div class="container-footer">
        <app-footer></app-footer>
      </div>