.content-carusel-pg {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-carusel {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #494949;
  text-decoration: none;
}
.carousel-container {
  margin-top: 80px;
  max-width: 1000px;
  position: relative;
}
.img-carusels {
  height: 50px;
  margin-left: 15px;
}
.btn-container {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1150px) {
  .carousel-container {
    margin-top: 80px;
    max-width: 750px;
  }
}
@media (max-width: 915px) {
  .carousel-container {
    margin-top: 80px;
    max-width: 450px;
  }
}
@media (max-width: 515px) {
  .carousel-container {
    margin-top: 80px;
    max-width: 250px;
  }
}
@media (max-width: 445px) {
  .carousel-container {
    margin-top: 80px;
    max-width: 200px;
  }
  .img-carusels {
    height: 50px;
    max-width: 170px;
    margin-left: 0px;
  }
}
