<div class="content-carusel-pg">
    <div>
        <a routerLink="/PartnerImgPage" class="title-carusel">Наши партнёры</a>
    </div>
    <div class="content-carusel">
        <div class="carousel-container">
            <carousel  [height]="height" [cellWidth]="cellWidth"  [arrows]="arrows" [cellsToScroll]="cellsToScroll" [arrowsOutside]="arrowsOutside" >  
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (67).png" onMouseout="src='/assets/Mask Group (67).png'" onMouseover="src='/assets/Mask Group (40).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (68).png" onMouseout="src='/assets/Mask Group (68).png'" onMouseover="src='/assets/Mask Group (41).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (69).png" onMouseout="src='/assets/Mask Group (69).png'" onMouseover="src='/assets/Mask Group (42).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (70).png" onMouseout="src='/assets/Mask Group (70).png'" onMouseover="src='/assets/Mask Group (43).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (71).png" onMouseout="src='/assets/Mask Group (71).png'" onMouseover="src='/assets/Mask Group (44).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (72).png" onMouseout="src='/assets/Mask Group (72).png'" onMouseover="src='/assets/Mask Group (45).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (73).png" onMouseout="src='/assets/Mask Group (73).png'" onMouseover="src='/assets/Mask Group (46).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (74).png" onMouseout="src='/assets/Mask Group (74).png'" onMouseover="src='/assets/Mask Group (47).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (75).png" onMouseout="src='/assets/Mask Group (75).png'" onMouseover="src='/assets/Mask Group (48).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (76).png" onMouseout="src='/assets/Mask Group (76).png'" onMouseover="src='/assets/Mask Group (49).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (77).png" onMouseout="src='/assets/Mask Group (77).png'" onMouseover="src='/assets/Mask Group (50).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (78).png" onMouseout="src='/assets/Mask Group (78).png'" onMouseover="src='/assets/Mask Group (51).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (79).png" onMouseout="src='/assets/Mask Group (79).png'" onMouseover="src='/assets/Mask Group (52).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (80).png" onMouseout="src='/assets/Mask Group (80).png'" onMouseover="src='/assets/Mask Group (53).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (81).png" onMouseout="src='/assets/Mask Group (81).png'" onMouseover="src='/assets/Mask Group (54).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (82).png" onMouseout="src='/assets/Mask Group (82).png'" onMouseover="src='/assets/Mask Group (55).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (83).png" onMouseout="src='/assets/Mask Group (83).png'" onMouseover="src='/assets/Mask Group (56).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (84).png" onMouseout="src='/assets/Mask Group (84).png'" onMouseover="src='/assets/Mask Group (57).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (85).png" onMouseout="src='/assets/Mask Group (85).png'" onMouseover="src='/assets/Mask Group (58).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (86).png" onMouseout="src='/assets/Mask Group (86).png'" onMouseover="src='/assets/Mask Group (59).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (87).png" onMouseout="src='/assets/Mask Group (87).png'" onMouseover="src='/assets/Mask Group (60).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (88).png" onMouseout="src='/assets/Mask Group (88).png'" onMouseover="src='/assets/Mask Group (61).png'" alt="#">
                </div>
                <div class="carousel-cell">
                    <img class="img-carusels" src="/assets/Mask Group (89).png" onMouseout="src='/assets/Mask Group (89).png'" onMouseover="src='/assets/Mask Group (62).png'" alt="#">
                </div>
            </carousel>
        </div>
    </div>
    </div>
    
