<div class="content-carusel-pg">
    <div>
        <a routerLink="/PartnerImgPage" class="title-carusel">Наши партнёры</a>
    </div>
    <div class="container-carusel">
        <carousel >
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (17).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (18).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (19).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (20).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (21).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (22).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (23).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (24).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (25).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (26).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (27).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (28).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (29).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (30).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (31).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (32).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (33).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (34).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (35).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (36).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (37).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (38).png" alt="#">
            </div>
            <div class="carousel-cell">
                <img class="img-carusel" src="/assets/Mask Group (39).png" alt="#">
            </div>
        </carousel>
    </div>
    
</div>