<div class="background">
  <div class="container-page-contact">
    <div>
      <app-header></app-header>
    </div>
    <div class="content-page-contact">
      <div class="title-page">
        <div>
          <p class="title-page-name">Главная / Каталог</p>
          <p class="title-lot-activ">Активные лоты</p>
        </div>
        <div>
          <p class="title-lot-activ">14:54:00</p>
        </div>
      </div>
      <div class="container-content">
        <div class="check-menu">
            <app-down-check-menu-revers></app-down-check-menu-revers>
          <!-- <a href=""routerLink="/CompletedPublicationPage" > casss</a> -->
        </div>
        <div class="conteiner-sort">
            <app-sort-revers-two></app-sort-revers-two>
        </div>
      </div>
    </div>
    <div class="container-footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
