<div class="container-news-details">
    <div>
        <p class="title-news-details">Audi представила новый кроссовер Q4 e-tron и его купеобразную версию</p>
        <div class="border-news"></div>
    </div>
    <div>
        <p class="news-text-details">Самый маленький электрокар Audi предлагается с тремя вариантами силовых установок и системой быстрой зарядки</p>
        <p class="data-details">15.05.2021</p>
    </div>
    <div>
        <div class="img-details-container">
            <img class="img-details" src="/assets/Rectangle 565.png" alt="#">
        </div>
        <p class="text-img-details">Компания Audi рассекретила электрический кроссовер Q4 e-tron. Автомобиль встал на конвейер предприятия в Цвиккау, где его производят на одной линии с Volkswagen ID.4. Одновременно немцы представили и купеобразную версию кроссовера под названием Q4 e-tron Sportback.

            Машина построена на платформе MEB, которую создал Volkswagen для новых электрических автомобилей подконтрольных концерну брендов. Новинка стала самым маленьким электрокаром в модельной линейке Audi. Его длина составляет 4588 миллиметров. Таким разом, по размерам Q4 e-tron расположился между моделями Q3 и Q5, которые предлагаются с двигателями внутреннего сгорания.
            
            Электрокар оснащается «закрытой» решеткой радиатора, светодиодной оптикой и колесными дисками диаметром от 19 до 21 дюйма. Объем багажного отделения — 520 (у купеобразного Sportback этот показатель равен 535 литров). Машина получила переднюю подвеску типа McPherson и многорычажку сзади.
            </p>
            <div class="img-details-container">
                <img class="img-details" src="/assets/Rectangle 566.png" alt="#">
            </div>
            <p class="text-img-details">В салоне машины устанавливается виртуальная приборная панель и большой экран мультимедийной системы. У информационно-развлекательного комплекса имеется функция распознавания голосовых команд, а также доступ к цифровому радио.

                Также Audi Q4 e-tron получил проекционный дисплей с виртуальным охватом порядка 70 дюймов и дополненной реальностью. Так, на лобовое стекло автомобиля в режиме реального времени будут выводиться подсказки навигатора в виде графических указателей.
                </p>
    </div>
</div>