<div class="content-partner">
    <div class="container-card">
        <div><app-card-auction [name]="currentItem" [src]="foto" [text]="text" [price]="price"></app-card-auction></div>
        <div><app-card-auction [name]="currentItem2" [src]="foto2" [text]="text2" [price]="price2"></app-card-auction></div>
        <div><app-card-auction [name]="currentItem3" [src]="foto3" [text]="text3" [price]="price3"></app-card-auction></div>
        <div><app-card-auction [name]="currentItem4" [src]="foto4" [text]="text4" [price]="price4"></app-card-auction></div>
    </div>
    <div class="content-carusel">
        <app-carousel></app-carousel>
    </div>
</div>