<div class="container-log">
        <p class="title-log">Вход на сайт</p>
    <div class="container-tel-eml">
            <p routerLink="/TelLogPage" class="tel-log-content">По номеру телефона</p>
            <p class="tel-log-content">С помощью логина и пароля</p>
    </div>
    <div class="container-log-input">
        <div class="content-log-input">
            <p class="text-log">Логин</p>
            <input class="input-log" type="text" >
        </div>
        <div class="content-log-input">
            <p class="text-log">Пароль</p>
            <div class="content-password">
                <input class="input-log" type="text">
                <img class="img-password" src="/assets/eye 1.png" alt="#">
            </div>
        </div>
    </div>
    <button class="btn-log">Войти</button>
</div>