@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container-histori {
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 90px;
}
.content-histori-name-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 828px;
  background: #84bb6a;
}
.content-histori-price {
  max-width: 831px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.data-histori-list {
  border: 1px solid rgba(176, 184, 210, 0.5);
  border-top: none;
  border-right: none;
  padding: 20px 60px 20px 60px;
  margin: 0px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.play-histori-list {
  border: 1px solid rgba(176, 184, 210, 0.5);
  border-top: none;
  border-right: none;
  padding: 20px 70px 20px 70px;
  margin: 0px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.price-histori-list {
  border: 1px solid rgba(176, 184, 210, 0.5);
  border-top: none;
  border-right: none;
  padding: 20px 80px 20px 80px;
  margin: 0px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.title-histori {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 10px;
}
.border-histori-title {
  width: 19px;
  height: 5px;
  background: #ff3b33;
  margin-bottom: 20px;
}
.none-histori-list {
  border: 1px solid rgba(176, 184, 210, 0.5);
  border-top: none;
  padding: 20px 70px 20px 80px;
  margin: 0px;
}
.info-histori-name-text {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 828px) {
  .content-histori-price {
    max-width: 831px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .data-histori-list {
    border: 1px solid rgba(176, 184, 210, 0.5);
    border-top: none;
    padding: 20px 0px 20px 5px;
    margin: 0px;
    width: 100%;
  }
  .play-histori-list {
    border: 1px solid rgba(176, 184, 210, 0.5);
    border-top: none;
    padding: 20px 0px 20px 5px;
    margin: 0px;
    width: 100%;
  }
  .price-histori-list {
    border: 1px solid rgba(176, 184, 210, 0.5);
    border-top: none;
    padding: 20px 0px 20px 5px;
    margin: 0px;
    width: 100%;
  }
  .none-histori-list {
    border: 1px solid rgba(176, 184, 210, 0.5);
    border-top: none;
    border-bottom: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
}
@media (max-width: 710px) {
  .container-histori {
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    max-width: 620px;
  }
}
