<div class="container-histori">
    <div>
        <p class="title-histori">История оплат</p>
        <div class="border-histori-title"></div>
    </div>
    <div class="content-histori-name-payment">
        <p class="info-histori-name-text">Дата</p>
        <p class="info-histori-name-text">Оплата</p>
        <p class="info-histori-name-text">Сумма</p>
        <p></p>
    </div>
    <div class="content-histori-price">
        <p class="data-histori-list">13.05.2021</p>
        <p class="play-histori-list">Оплата комиссии</p>
        <p class="price-histori-list">150 000 ₽</p>
        <p class="none-histori-list"></p>
    </div>
    <div class="content-histori-price">
        <p class="data-histori-list">13.05.2021</p>
        <p class="play-histori-list">Оплата комиссии</p>
        <p class="price-histori-list">150 000 ₽</p>
        <p class="none-histori-list"></p>
    </div>
    <div class="content-histori-price">
        <p class="data-histori-list">13.05.2021</p>
        <p class="play-histori-list">Оплата комиссии</p>
        <p class="price-histori-list">150 000 ₽</p>
        <p class="none-histori-list"></p>
    </div>
    <div class="content-histori-price">
        <p class="data-histori-list">13.05.2021</p>
        <p class="play-histori-list">Оплата комиссии</p>
        <p class="price-histori-list">150 000 ₽</p>
        <p class="none-histori-list"></p>
    </div>
</div>