/* You can add global styles to this file, and also import other style files */
@import "card-auction/card-auction.component.scss";
@import "carusel-img/carusel-img.component.scss";

body {
  padding: 0px;
  margin: 0px;
  background-image: url("/assets/image 41.png");
  background-size: 50% 50% 50% 50%;
  background: #f6f6f6;
  opacity: 2;
  position: relative;
  z-index: -1;
}
