<div class="container-page-contact">
    <div>
      <app-header></app-header>
    </div>
  <div class="content-page-contact">
      <app-title></app-title>
        <div class="menu-content-page-contact">
          <div class="container-menu">
            <app-menu [isActiveMyTarrif]="PageActiveMyTarrif"></app-menu>
          </div>
          <div class="content-contact">
            <app-my-tariff></app-my-tariff>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <app-footer></app-footer>
      </div>
    </div>