<div class="container-watch">
    <div class="content-img-watch">
        <img class="img-watch" src="/assets/image 6.png" alt="#">
    </div>
    <div class="content-text-watch">
        <div class="content-exit">
            <div>
                <h1 class="title-watch">Где смотреть?</h1>
                <div class="border-watch"></div>
            </div>
            <div>
                <a routerLink="/VinCheckPage">
                    <img src="/assets/Vector 99.png" alt="#">
                </a>
            </div>
        </div>
        <div>
            <p class="text-watch">Госномер вы найдете в Свидетельстве о регистрации (СТС) в строке <font  color="red" >«Регистрационный знак»</font> , а VIN-код — в строке <font  color="blue" > «Идентификационный номер».</font></p>
        </div>
        <div>
            <p class="text-watch">Также эти данные можно найти в паспорте транспортного средства (ПТС) и полисе ОСАГО.</p>
        </div>
    </div>
</div>