<div class="content-footer">
    <div>
       <p class="footer-text">Аукцион по продаже автомобилей</p> 
    </div>
    <div>
        <a class="footer-text cursors"  routerLink='/AboutCompanyPage'>О компании</a>
        <br >
        <br>
        <a class="footer-text cursors"  routerLink=''>Партнеры</a>
        <br>
        <p class="footer-text cursors">Каталог</p>
    </div>
    <div>
        <a class="footer-text cursors"  routerLink="/NewsPage">sНовости</a>
    </div>
    <div>
        <p class="footer-text">Контакты</p>
        <p class="footer-text">Телефон: +7 (495) 649-91-99 </p>
        <p class="footer-text">WhatsApp: +7 (926) 511-43-99</p>
        <p class="footer-text">109052,г.Москва,ул.Смирновская,дом 25,стр.<br>16.БЦ"СМИРНОВСКИЙ" </p>
        <p class="footer-text">E-mail: info@migtorg.com</p>
        <p class="footer-text">Skype: migtorg.com</p>
        <p class="footer-text">Мы в социальных сетях:</p>
        <div class="content-img-footer">
            <a href="https://vk.com/migtorgcom"> 
            <img class="img-footer" src="/assets/vk.png" alt="#">
            </a>
            <a href="https://www.facebook.com/migtorgcom/">
                <img class="img-footer" src="/assets/facebook.png" alt="#">
            </a>
            <a href="https://instagram.com/migtorg?utm_medium=copy_link">
                <img class="img-footer" src="/assets/instagram.png" alt="#">
            </a>
            <a href="https://t.me/migtorg">
                <img class="img-footer" src="/assets/telegram.png" alt="#">
            </a>
        </div>
    </div>
</div>
<div class="info-footer-content">
    <div>2021 All rights reserved. Migtorg.com</div>
    <div>Дизайн - Timteam</div>
</div>