<div class="content-footer">
    <div style="display: flex; flex-direction: column;">
        <a class="footer-text cursors"  routerLink='/PartnerImgPage'>Партнеры</a>
        <a class="footer-text cursors"  routerLink='/CarAuctionsPage'>Автоаукционы</a>
        <a class="footer-text cursors"  routerLink=''>Иные аукционы</a>
        <a class="footer-text cursors"  routerLink='/AnnouncementPage'>Объявления</a>
    </div>
    <div>
        <a class="footer-text cursors"  routerLink='/AboutCompanyPage'>О компании</a>
        <br >
        <br>
        <a class="footer-text cursors"  routerLink='/ReportsPage'>Проверка по VIN</a>
        <p class="footer-text cursors">Проданные лоты</p>
        <a class="footer-text cursors"  routerLink="/NewsPage">Новости</a>


    </div>
    <div style="display: flex; flex-direction: column;">
        <a class="footer-text cursors"  routerLink="/Lot">Мои лоты</a>
        <a class="footer-text cursors"  routerLink="/Moderation">Лоты на модерации</a>
        <a class="footer-text cursors"  routerLink="/SelectedLot">Избранные лоты</a>
        <a class="footer-text cursors"  routerLink="/MyAdsLot">Мои обьявления</a>
        <a class="footer-text cursors"  routerLink="/LotArchive">Архив лотов</a>
    </div>
    <div>
        <div class="container-info-cotact">
            <img class="info-cotact-img" src="/assets/image 118.png" alt="#">
            <p class="footer-text"> +7 (495) 649-91-99 </p>
        </div>
        <div class="container-info-cotact">
            <img class="info-cotact-img" src="/assets/image 119.png" alt="#">
            <p class="footer-text">+7 (926) 511-43-99</p>
        </div>
        <div class="container-info-cotact">
            <img class="info-cotact-img" src="/assets/image 120.png" alt="#">
            <p class="footer-text">info@migtorg.com</p>
        </div>
        <div class="container-info-cotact">
            <img class="info-cotact-img" src="/assets/image 121.png" alt="#">
            <p class="footer-text">migtorg.com</p>
        </div>
        <p class="footer-text content-text-info-adres">109052,г.Москва,ул.<br>Смирновская,дом 25,стр.<br>16.БЦ"СМИРНОВСКИЙ" </p>
        <div class="content-img-footer">
            <a href="https://vk.com/migtorgcom"> 
            <img class="img-footer" src="/assets/image 122.png" alt="#">
            </a>
            <a href="https://www.facebook.com/migtorgcom/">
                <img class="img-footer" src="/assets/image 123.png" alt="#">
            </a>
            <a href="https://instagram.com/migtorg?utm_medium=copy_link">
                <img class="img-footer" src="/assets/image 124.png" alt="#">
            </a>
            <a href="https://t.me/migtorg">
                <img class="img-footer" src="/assets/image 125.png" alt="#">
            </a>
        </div>
    </div>
</div>
<div class="content-card">
    <div class="price-card-container">
        <img class="card-price-img" src="/assets/image 114.png" alt="#">
        <img class="card-price-img" src="/assets/image 113.png" alt="#">
        <img class="card-price-img" src="/assets/image 109.png" alt="#">
        <img class="card-price-img" src="/assets/image 110.png" alt="#">
        <img class="card-price-img" src="/assets/image 115.png" alt="#">
        <img class="card-price-img" src="/assets/image 111.png" alt="#">
        <img class="card-price-img" src="/assets/image 112.png" alt="#">
        <img class="card-price-img" src="/assets/image 116.png" alt="#">
        <img class="card-price-img" src="/assets/image 117.png" alt="#">
    </div>
    <div>
        <p class="text-card">Платёжный шлюз: АО БАНК «СНГБ»</p>
    </div>
</div>
<div class="info-footer-content">
    <div class="footer-text-two">2021 All rights reserved. Migtorg.com</div>
</div>