<div class="container-page-contact">
    <div>
      <app-header></app-header>
    </div>
  <div class="content-page-contact">
    <div class="title-page">
      <div>
        <p class="title-page-name">Главная / Сообщения</p>
    </div>
    <div>
      <p class="delet-title"> Очистить объявление  <img src="/assets/fa-solid_trash.png" alt="#" class="img-title-delet"></p>
    </div>
    </div>
    <div class="menu-info">
          <div class="container-contact">
              <app-damage></app-damage>
              <div class="container-menu-creating">
                <a routerLink="/CreatingLot" class="menu-text-creating "><p class="list ">1</p>Информация по автомобилю</a>
                <a  routerLink="/CompleteSet" class="menu-text-creating"><p class="list">2</p>Комплектация</a>
                <a routerLink="/DamagePage" class="menu-text-creating backgroud"><p class="list list-backgroud">3</p>Повреждения</a>
                <a routerLink="/PhotographyPage" class="menu-text-creating"><p class="list">4</p>Фотография</a>
                <a href="" class="menu-text-creating"><p class="list">5</p>Публикация</a>
              </div>
          </div>
      </div>
      <div class="border-div-creating">
        <a class="next-creating-lot" routerLink="/PhotographyPage">Далее</a>
    </div>
      <div class="container-footer">
        <app-footer></app-footer>
      </div>
    </div>