    <div class="container-page-contact ">
      <div class="header-page">
        <app-header></app-header>
      </div>
      <div class="conyainer-title-report">
        <div class="content-title">
          <div>
            <p class="title-text">Главная/  Отчеты /  Jaguar X-Type</p>
            <h1 class="title-name">Отчеты</h1>
          </div>
          <div>
            <button class="btn-canvas">Скачать отчет в PDF</button>
          </div>
        </div>
      </div>
      <div class="container-display">
          <app-reports></app-reports>
          <!-- <app-chart></app-chart> -->
      </div>
      <div class="container-footer">
        <app-footer></app-footer>
    </div>
    </div>
    
  