@font-face {
  font-family: Bliss Pro;
  src: url("/assets/ttf/ofont.ru_Bliss\ Pro.ttf") format("opentype");
}
.container-creating-lot {
  background: #ffffff;
  border-radius: 10px 0px 0px 10px;
  padding-left: 40px;
  padding-bottom: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.creating-lot-title {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 10px;
}
.title-border-tip {
  border-top: 1px solid #c4c4c4;
}
.title-lot-info {
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 10px;
}
.border-title {
  width: 19px;
  height: 5px;
  background: #ff3b33;
  margin-bottom: 35px;
}
.content-photo-list {
  display: flex;
  flex-direction: row;
  padding-right: 400px;
}
.content-add-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px 27px;
}
.content-add-photo:hover {
  border: 1px solid #84ba6c;
}
.text-publication {
  max-width: 550px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #c4c4c4;
}
.container-img-photo {
  width: 131px;
  height: 131px;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}
.container-img-photo:hover {
  border: 1px solid #84ba6c;
}
.add-document-content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.border-add-photo-doc {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #84bb6a;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 9px;
}
.btn-publication {
  background: none;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding: 15px 25px;
}
.btn-publication-revers {
  background: #84bb6a;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Bliss Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding: 15px 25px;
  margin-left: 20px;
}
@media (max-width: 1082px) {
  .container-creating-lot {
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    margin-right: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
}
@media (max-width: 915px) {
  .content-photo-list {
    display: flex;
    flex-direction: row;
    padding-right: 0px;
  }
  .container-creating-lot {
    max-width: 835px;
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    margin-right: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }
  .container-btn-complete {
    margin-left: 50px;
    margin-right: 0px;
  }
}
@media (max-width: 765px) {
  .content-damage-list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 645px) {
  .content-btn-creating-lot {
    display: flex;
    flex-direction: column;
  }
  .btn-creating-lot {
    margin-right: 5px;
    margin-top: 10px;
  }
  .content-photo-list {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }
}
@media (max-width: 380px) {
  .container-checkbox-complete {
    display: flex;
    flex-direction: column;
  }

  .setting-content-crating-lot {
    flex-direction: column;
  }
}
@media (max-width: 345px) {
  .btn-publication-container {
    display: flex;
    flex-direction: column;
  }
  .btn-publication {
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding: 15px 25px;
    margin-left: 20px;
  }
}
