<div class="container-creating-lot">
    <div>
        <div>
            <h1 class="title-lot-info">Публикация</h1>
            <div  class="border-title"></div>
            <div class="title-border-tip"></div>
        </div>
        <div>
            <h1 class="title-lot-info">Вы находитесь в режиме предпросмотра</h1>
            <div  class="border-title"></div>
        </div>
        <div><p class="text-publication">Проверьте правильность написания вашего объявления, перед отправкой его администратору нашего сайта. Вы всегда можете вернуться к редактированию объявления.</p></div>
        <div>
           <div class="btn-publication-container">
               <button class="btn-publication">Редактировать</button>
               <button class="btn-publication-revers">Опубликовать</button>
           </div>
        </div>
    </div>
</div>