.content-slide-img {
  display: flex;
  flex-direction: column;
}
.img-glav {
  margin: 0 auto;
}
.container-img-slider-min {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-slide {
  margin-top: 20px;
}
