.dispaly-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.border-activ-slid {
  margin-left: 40px;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 100%;
}
.img-slider-glav {
  max-width: 900px;
}
.img-glav {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
i {
  width: 5px;
  height: 5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 5px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 15px;
}
.border-activ-slid:hover {
  background: #84ba6c;
  i {
    width: 5px;
    height: 5px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 15px;
  }
}
.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}
.container-img-slider-min {
  margin-left: 110px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-slide {
  margin-top: 20px;
}
