<div class="container-img-slide">
    <div class="content-slide-img">
        <div class="dispaly-slider">
            <img src="/assets/Vector 97.png" alt="">
        </div>
        <div class="img-glav">
            <p class="border-activ-slid"> <i class="arrow left"></i></p>
            <img src="/assets/image 7.png" alt="#">
            <p class="border-activ-slid"><i class="arrow right"></i></p>
        </div>
        <div>
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
        </div>
    </div>
</div>