    <div class="content-slide-img">
        <div class="img-glav">
           <app-carusel-img></app-carusel-img>
        </div>
        <div class="container-img-slider-min">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (65).png" alt="#">
            <img class="img-slide" src="/assets/Mask Group (66).png" alt="#">
        </div>
    </div>